body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.bottom-container {
  background-color: #f4a9a8;
  padding: 50px 0 20px;

}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
   background: #EA8FC9;
   background-image: -webkit-linear-gradient(top, #EA8FC9, #C6519B);
   background-image: -moz-linear-gradient(top, #EA8FC9, #C6519B);
   background-image: -ms-linear-gradient(top, #EA8FC9, #C6519B);
   background-image: -o-linear-gradient(top, #EA8FC9, #C6519B);
   background-image: -webkit-gradient(to bottom, #EA8FC9, #C6519B);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 17px;
   font-weight: normal;
   padding: 7px 20px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #F9A1EC;
   background-image: -webkit-linear-gradient(top, #F9A1EC, #BC2996);
   background-image: -moz-linear-gradient(top, #F9A1EC, #BC2996);
   background-image: -ms-linear-gradient(top, #F9A1EC, #BC2996);
   background-image: -o-linear-gradient(top, #F9A1EC, #BC2996);
   background-image: -webkit-gradient(to bottom, #F9A1EC, #BC2996);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.coding-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact-message{
  margin: 40px auto 60px;
}

.copyright{
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

.diamond-painting-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.description{
  width: 30%;
  margin: auto;
  text-align: justify;
}

.footer-link{
  color: #e93b81;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover{
  color: white;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Rouge Script', cursive;
  color: #ff96ad;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #ff96ad;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ffc7c7;
}

hr{
  width: 4%;
  border: dotted #ffc7c7 6px;
  border-bottom: none;
  margin: 100px auto;
}

.middle-container {
  margin: 100px 0;

}

.my-photo{

  width: 10%;
}

p{
  line-height: 2;
}

.top-container {
  background-color: #fff5eb;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}


.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
